{% extends 'reviews/base.html' %}
{% load static %}

{% block title %}Connexion / Inscription{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/accueil.css' %}">
{% endblock %}

{% block content %}
<section class="loginSection">
    <div class="logo">
        <p>LIT-Review</p>
    </div>
    <div class="login-box">
        <p>Connexion</p>
        <form method="post" action="{% url 'accueil' %}">
            {% csrf_token %}
            {% if form and form.errors %}
            <div class="errors">Identifiants invalides. Veuillez réessayer.</div>
            {% endif %}
            <div class="user-box">
                <input required name="username" type="text" autocomplete="username" autofocus
                    value="{{ form.username.value|default:'' }}">
                <label>Nom d'utilisateur</label>
            </div>
            <div class="user-box">
                <input required name="password" type="password" autocomplete="current-password">
                <label>Mot de passe</label>
            </div>
            <button type="submit" class="submit-anchor-like">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Connexion
            </button>
        </form>
        <p id="signupcontent">Inscrivez-vous maintenant<a href="{% url 'signup'%}" class="a2">S'inscrire!</a></p>
    </div>

</section>
{% endblock %}