<div class="input">
    <a class="value" href="{% url 'accueil' %}"><iconify-icon class="icon-feed" icon="wpf:connected" width="30"
            height="30"></iconify-icon></a>

    <a class="value" href="{% url 'feed' %}">
        <iconify-icon class="icon-feed" icon="mdi-home" width="30" height="30"></iconify-icon>

    </a>
    <a class="value" href="{% url 'review_create' %}"> <iconify-icon class="icon-feed"
            icon="streamline-sharp:add-pdf-solid" width="30" height="30"></iconify-icon></a>
    <a class="value" href="{% url 'ticket_create' %}"><iconify-icon class="icon-feed" icon="icon-park-outline:doc-add"
            width="30" height="30"></iconify-icon></a>
    <a class="value" href="{% url 'ticket_review_create' %}">
        <iconify-icon class="icon-feed" icon="fluent:book-add-20-filled" width="30" height="30"></iconify-icon>
    </a>
    <a class="value" href="{% url 'abonnements' %}">
        <iconify-icon class="icon-feed" icon="mingcute:user-add-fill" width="30" height="30"></iconify-icon>
    </a>

    <a class="value" href="{% url 'signup' %}"><iconify-icon class="icon-feed" icon="ic:round-login" width="30"
            height="30"></iconify-icon></a>

    <a class="value" href="{% url 'mesposts' %}"><iconify-icon class="icon-feed" icon="fluent:box-48-filled" width="30"
            height="30"></iconify-icon></a>
    <a class="value" href="{% url 'modification-ticket' %}"><iconify-icon class="icon-feed" icon="el:file-edit"
            width="30" height="30"></iconify-icon></a>
    <a class="value" href="{% url 'modification-critique' %}"><iconify-icon class="icon-feed" icon="ic:round-edit-note"
            width="30" height="30"></iconify-icon></a>

    <a class="value" href="{% url 'logout' %}"><iconify-icon class="icon-feed" icon="el:off" width="30"
            height="30"></iconify-icon></a>

</div>