{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Ajout d'un cache-buster en dev pour éviter le cache navigateur #}
    {% if debug %}
    <link rel="stylesheet" href="{% static 'reviews/css/styles.css' %}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static 'reviews/css/barNav.css' %}?v={% now 'U' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'reviews/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'reviews/css/barNav.css' %}">
    {% endif %}
    {% block extra_css %}{% endblock %}
</head>

<body class="container">

    <header>
        {% include 'reviews/barNav.html' %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>
    {% django_browser_reload_script %}
</body>

</html>