{% extends 'reviews/base.html' %}
{% load static %}

{% block title %}Connexion / Inscription{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/create_ticket.css' %}">
{% endblock %}

{% block content %}
<section class="loginSection">
    <div class="login-box">
        <p>Créer un ticket</p>
        <form>
            <div class="user-box">
                <input required="" name="" type="text">
                <label>Title</label>
            </div>
            <div class="user-box box-file">
                <input required="" name="image" type="file">
                <label>image</label>
            </div>

            <div class="user-box">
                <textarea required="" name="" rows="3"></textarea>
            </div>

            <div class="button-box">

                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Annuler
                </a>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Enregistrer
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}