{% extends 'reviews/base.html' %}
{% load static %}

{% block title %}Créer un ticket{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/create_ticket.css' %}">
{% endblock %}

{% block content %}
<section class="loginSection">
    <div class="login-box">
        <p>Créer un ticket</p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="user-box">
                {{ form.title.errors }}
                {{ form.title }}
                <label for="{{ form.title.id_for_label }}">Title</label>
            </div>

            <div class="user-box box-file">
                {{ form.image.errors }}
                {{ form.image }}
                <label for="{{ form.image.id_for_label }}">Image</label>
            </div>

            <div class="user-box">
                {{ form.description.errors }}
                {{ form.description }}
                <!-- <label for="{{ form.description.id_for_label }}">Description</label> -->
            </div>

            <div class="button-box">
                <a href="{% url 'feed' %}">
                    <span></span><span></span><span></span><span></span>
                    Annuler
                </a>
                <button type="submit" class="action-btn">
                    <span></span><span></span><span></span><span></span>
                    Enregistrer
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}