html {
  font-size: 16px;
  scroll-behavior: smooth;
  background: transparent;
  box-sizing: border-box;
  font-size: 62.5%;
}
html,
body.container {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  font-size: 16px;
}

h2 {
  margin-bottom: 1rem;
}


.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.container {
  width: 100%;
  background-color: #121212;
  background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.05) 1px, transparent 0), linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 0),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 0);
  background-size: 40px 40px, 20px 20px, 20px 20px;
  position: relative;
  overflow-x: hidden;
}
