# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Entorno / IDE
venv/
.env
.env.*
.vscode/
.idea/
*.code-workspace

# SO
.DS_Store
Thumbs.db


# Subidas locales (si no quieres versionar imágenes de desarrollo)
media/
